## dist/templates/COPY1.vm
## branch: master
## release: v2.2.2
## 2016-07-19 2:40:09
################ printMethodInFileTestB ################
#macro(printMethodInFileTestB)
<h2>printMethodInFileTestB!!</h2>
<article>Article in printMethodInFileTestB 6/4/2017 ahh OK</article>
<h2>End printMethodInFileTestB</h2>
#end
