#if ($breakingNews)
  #set($breakingNews = $breakingNews.get_Item(0))
  #if ($breakingNews.enabled == "yes")
    <article class="breaking-news wrapper">
      <span>Ultimo Momento</span>
      <h2>
      #if ($breakingNews.articleId != "")
        <a href="#">
      #end
      $breakingNews.title
      #if ($breakingNews.articleId != "")
        </a>
      #end
      </h2>
      <!-- <button>x</button> -->
      <a href="#" class="breaking-news-close"><i></i></a>
    </article>
  #end
#end